<a href="https://colab.research.google.com/github/kavindus0/ssd-to-table-data-trial/blob/main/ssp_to_csp.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
import numpy as np

In [17]:
x = 'id Name age city phone 1 Tolkiens 34 matara 09878987 2 Martin 33 jaffna 67678980'
lists = x.split(' ')
head = lists[0:5]
lists = lists[5:]


entr = []
entr.append(head)
i=0
while i< len(lists)//5:
  ls = lists[i*5:i*5+5]
  entr.append(ls)
  i+=1


print(entr)
#table = [[y for x in t for y in x or ['']] for t in entr]

[['id', 'Name', 'age', 'city', 'phone'], ['1', 'Tolkiens', '34', 'matara', '09878987'], ['2', 'Martin', '33', 'jaffna', '67678980']]