<a href="https://colab.research.google.com/github/kavindus0/StringToTableConverter/blob/main/tabulate_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Import Modules

In [31]:
from tabulate import tabulate

#Operations

In [ ]:
input_data = '''id Name age city phone 1 Tolkiens 34 matara 09878987 2 Martin 33 jaffna 67678980 3 Rowling 28 colombo 12345678 4 Dickens 45 kandy 98765432 5 Austen 31 galle 87654321 6 Hemingway 39 trincomalee 23456789 7 Fitzgerald 36 negombo 34567890'''
list_splitted_to_space = input_data.split(' ')
head = list_splitted_to_space[0:5]
list_splitted_to_space = list_splitted_to_space[5:]

entire_list_before_finalize = []

#entire_list_before_finalize.append(head)

i=0
while i< len(list_splitted_to_space)//5:
  current_slicing_peice = list_splitted_to_space[i*5:i*5+5]
  entire_list_before_finalize.append(current_slicing_peice)
  i+=1

#Arrange Of the Table

In [ ]:
table = tabulate(entire_list_before_finalize,headers=['Id','Name','Age','City','Phone'],tablefmt='grid')

print(table)